#!/usr/bin/env bash
#
# Copyright (C) 2019 The SAM Tool Authors. All rights reserved.
#
#               SAM (S/W Architecture Maturity)
#
# Samsung Research,
# Samsung Electronics Co., Ltd.
#
# This software and its documentation are confidential and proprietary
# information of Samsung Electronics Co., Ltd.  No part of the software and
# documents may be copied, reproduced, transmitted, translated, or reduced to
# any electronic medium or machine-readable form without the prior written
# consent of Samsung Electronics.
#
# Samsung Electronics makes no representations with respect to the contents,
# and assumes no responsibility for any errors that might appear in the
# software and documents. This publication and the contents here of are subject
# to change without notice.
#

################################
# Project Name
################################
SAM_PRJ_NAME="TELEPHONY_RIL"


################################
# Source Code
################################
BUILD_CMD="$PWD/build.sh"
CLEAN_CMD=""
SRC_PATH=$PWD
SRC_LANG="cpp"								# Supported languages : c, cpp, auto_c_cpp, java, cs
#SRC_SCOPE="$PWD/src_scope.cfg"						# Scoping list
SRC_EXCLUDE="src_exclude.cfg"		# Excluding list


################################
# SCRA
################################
SCRA_SKIP=TRUE								# Options : TRUE, FALSE
SCRA_RAW_DATA_PATH=".scap/workspace/scra"
SCRA_ROOT_TO_CUT=$SRC_PATH


################################
# PMD CPD (Duplicated Code)
################################
PMD_SKIP=FALSE                              # Options : TRUE, FALSE
PMD_RAW_DATA_PATH=".scap/workspace/pmd"
PMD_USE_BUILT_PATH=FALSE                    # Options : TRUE, FALSE
PMD_ROOT_TO_CUT=$SRC_PATH

SCAP_TOOL_PATH="hub/code-analysis-hub/bin/scap"
SCAP=$SCAP_TOOL_PATH
