allow system_app hal_exynos_rild_hwservice:hwservice_manager find;
allow system_app rild:binder { call transfer };
get_prop(system_app, vendor_rild_prop);
get_prop(system_app, vendor_ro_config_default_prop);